################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/EvFiyatTahmini/FileContentIndex/read.lock
/.vs/EvFiyatTahmini/FileContentIndex/838792a4-8671-47c4-9006-3860c1f0a8e1.vsidx
